ANTHROPIC_API_KEY=sk-ant-...
JIRA_BASE_URL=https://yourcompany.atlassian.net
JIRA_EMAIL=jgrondahldev@gmail.com
JIRA_API_TOKEN=ATATT3xFfGF0K6HnKf62Coyo1ike8fcn4DSWoy3DT2uyMnkJ9Nm36R-ofUSw3sVwppNmTTJ_imwi9bq9h4_E55TzCtL8UCJP0u7zvwbKIB5krfcgiHiwXloHaHr7TRxvSYzXop6DymhZmJfsp9jaYaNI9wR7VxpOLf3Wo1-MhqLgkc_lIZgyous=A2BA7E1F
GITHUB_TOKEN=ghp_...
SPLINTY_WORKSPACE_DIR=.apps
